---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Drawer from "../components/Drawer.astro";
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es-CL">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="drawer min-h-screen">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" aria-label="Abrir menú de navegación" />
      <div class="drawer-content flex min-h-screen flex-col">
        <Header />
        <main class="min-h-screen flex-1">
          <slot />
        </main>
        <Footer />
      </div>
      <Drawer />
    </div>
  </body>
</html>
